[Unit]
Description=Caddy Web Server - %u
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/usr/bin/caddy run --config %h/Caddyfile
Restart=always

[Install]
WantedBy=default.target
